[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
sklearn = "*"
xgboost = "*"
bentoml = "*"

[dev-packages]

[requires]
python_full_version = "3.10.6"
